<!DOCTYPE html>
<html lang="en">
    
    
    <section class="hero is-medium has-background-light">
        <div class="hero-body">
            <p class="title">All Cereal</p>
        </div>
    </section>
    
    <main class="container is-max-widescreen">
        <div class="columns is-multiline p-5">
            <% for(let idx = 0; idx < cereal.length; idx++){ %> 
                <% const cereal = cereal[idx] %>
                
                <div class="column is-one-third">
                    <article class="card">
                        <section class="card-image">
                            <figure class="image is-3by3">
                                <img src="<%= cereal.image %>" alt="Placeholder image" />
                            </figure>
                        </div>
                    </section>
                    <div class="card-content">
                        <div class="content">
                            <h3>
                                <a href="/cereal/<%= cereal.id %>"><%= cereal.name %> </a>
                            </h3>
                            
                            <p>$<%= cereal.price %></p>
                        </div>
                    </div>
                </article>
            </div>
            <% } %>
        </div>
    </main>
</body>
</html>